<div class="container">
  <h1>Tableau des utilisateurs</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Utilisateur</th>
          <th>Pseudo</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Id</th>

        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each usr }}
        <tr>
          <td name="lsNumber">{{lsNumber}}</td>
          <td name="pseudo">{{pseudo}}</td>
          <td name="name">{{name}}</td>
          <td name="email">{{email}}</td>
          <td name="id">{{id}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<section>
  <h1>Liste des articles</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>n°</th>
          <th>Titre</th>
          <th>Contenue</th>
          <th>Date de création</th>
          <th><i class="fas fa-trash-alt"></i></th>

        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each adArticle }}
        <tr>
          <td name="arNumber">{{arNumber}}</td>
          <td name="title">{{title}}</td>
          <td name="content">{{{content}}}</td>
          <td name="createDate">&emsp;&emsp;{{moment creatDate format="DD-MM-YY"}}</td>
          <td name="delete-article"><a href="/galerie-delete/{{galerie._id}}"><button type="button"
                                class="btn">supprimer</button></a></td>
                {{!-- <a href="/galerie-delete/{{galerie._id}}"><button type="button"
                                class="btn">supprimer</button></a> --}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <a><input class="btn" type=button onclick=window.location.href='/' ; value=Retour au site />
    <div class="form-field evenement">
      <div class="control">
        <input class="input" type="hidden" name="galerieId" value={{galerie.id}}>
        <input class="input" type="hidden" name="deleteGalerieId" value={{galerie.id}}>
      </div>
    </div>
</section>
