{{!-- <div class="container">
  <h1>Tableau des utilisateurs</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Utilisateur</th>
          <th>Pseudo</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Id</th>
          <th>Bannir</th>

        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each usr }}
        <tr>
          <td style="font-size: 1.1rem;" name="lsNumber">{{lsNumber}}</td>
          <td style="font-size: 1rem;" name="pseudo">{{pseudo}}</td>
          <td style="font-size: 1rem;" name="name">{{name}}</td>
          <td style="font-size: 1rem;" name="email">{{email}}</td>
          <td style="font-size: 1rem;" name="id">{{id}}</td>
          <td style="font-size: 1rem;" name="id"><a href="/adminPage/delete-profile/{{_id}}" onclick="return confirm('Voulez-vous vraiment supprimer cette utilisateur ?');"><button type="button"
            class="btn"><i class="fas fa-trash-alt"></i></button></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

 <section>
  <h1>Liste des commentaires</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>N°</th>
          <th>Pseudo</th>
          <th>Contenue</th>
          <th>Supprimer/Editer</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each adCommentaire }}
        <tr>
          <td style="font-size: 1.1rem;" name="lsNumber">{{coNumber}}</td>
          <td style="font-size: 1rem;" name="name">{{auteur}}</td>
          <td style="font-size: 1rem;" name="content">{{{content}}}</td>
          <td style="font-size: 1rem;" name="id"><a href="/commentaire-delete/{{_id}}" onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');"><button type="button"
            class="btn"><i class="fas fa-trash-alt"></i></button></a>
                                                  <a href="/commentaire-edit/{{_id}}"><button type="button"
            class="btn"><i class="fas fa-edit"></i></button></a></td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  </div>
    <div class="form-field evenement">
      <div class="control">
        <input class="input" type="hidden" name="commentaireId" value={{commentaire.id}}>
        <input class="input" type="hidden" name="commentaireId" value={{commentaire.id}}>
      </div>
    </div>
</section>

<section>
  <h1>Liste des articles</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="taille" style="width: 5rem;">N°</th>
          <th>Titre</th>
          <th>Contenue</th>
          <th style="width: 10rem;" >Date de création</th>
          <th>Supprimer/Editer</th>

        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each adArticle }}
        <tr>
          <td style="width: 5rem; font-size: 1.5rem;" name="arNumber">{{arNumber}}</td>
          <td name="title"><a href="/articles/{{_id}}" style="font-size: 1.2rem;">{{title}}</a></td>
          <td name="content">{{{content}}}</td>
          <td style="width: 10rem;" name="createDate">{{moment creatDate format="DD-MM-YY"}}</td>
          <td name="delete-article"><a href="/article-delete/{{_id}}" onclick="return confirm('Voulez-vous vraiment supprimer cette article ?');" ><button type="button"
            class="btn"><i class="fas fa-trash-alt"></i></button></a>
                                    <a href="/article-edit/{{_id}}" ><button type="button"
            class="btn"><i class="fas fa-edit"></i></button></a></td>      
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
    <div class="form-field evenement">
      <div class="control">
        <input class="input" type="hidden" name="galerieId" value={{galerie.id}}>
        <input class="input" type="hidden" name="deleteGalerieId" value={{galerie.id}}>
      </div>
    </div>
</section> --}}


<ul class="nav nav-tabs" id="myTab" role="tablist" style="justify-content: center; margin-top: 5rem;" >
  <li class="nav-item">
    <a class="nav-link active" id="utilisateurs-tab" data-toggle="tab" href="#utilisateurs" role="tab" aria-controls="utilisateurs"
      aria-selected="true">Utilisateurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="commentaires-tab" data-toggle="tab" href="#commentaires" role="tab" aria-controls="commentaires"
      aria-selected="false">Commentaires</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="evenements-tab" data-toggle="tab" href="#evenements" role="tab" aria-controls="evenements"
      aria-selected="false">Evenements</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent" style="margin-top: 1rem;">
  <div class="tab-pane fade show active" id="utilisateurs" role="tabpanel" aria-labelledby="utilisateurs-tab">
    <div class="container">
  <h1>Tableau des utilisateurs</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Utilisateur</th>
          <th>Pseudo</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Id</th>
          <th>Bannir</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each usr }}
        <tr>
          <td style="font-size: 1.1rem;" name="lsNumber">{{lsNumber}}</td>
          <td style="font-size: 1rem;" name="pseudo">{{pseudo}}</td>
          <td style="font-size: 1rem;" name="name">{{name}}</td>
          <td style="font-size: 1rem;" name="email">{{email}}</td>
          <td style="font-size: 1rem;" name="id">{{id}}</td>
          <td style="font-size: 1rem;" name="id"><a href="/adminPage/delete-profile/{{_id}}" onclick="return confirm('Voulez-vous vraiment supprimer cette utilisateur ?');"><button type="button"
            class="btn"><i class="fas fa-trash-alt"></i></button></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
</div>
  <div class="tab-pane fade" id="commentaires" role="tabpanel" aria-labelledby="commentaires-tab">
    <div class="container">
  <h1>Liste des commentaires</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="taille" style="width: 5rem;">N°</th>
          <th>Pseudo</th>
          <th>Contenue</th>
          <th style="width: 10rem;">Date de création</th>
          <th>Supprimer/Editer</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each adCommentaire }}
        <tr>
          <td style="width: 5rem; font-size: 1.5rem;" name="lsNumber">{{coNumber}}</td>
          <td style="font-size: 1rem;" name="name">{{auteur}}</td>
          <td style="font-size: 1rem;" name="content">{{{content}}}</td>
          <td style="width: 10rem;" name="createDate">{{moment createDate format="DD-MM-YY HH:mm A"}}</td>
          <td style="font-size: 1rem;" name="id"><a href="/commentaire-delete/{{_id}}" onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');"><button type="button"
                                                    class="btn"><i class="fas fa-trash-alt"></i></button></a>
                                                  <a href="/commentaire-edit/{{_id}}"><button type="button"
                                                    class="btn"><i class="fas fa-edit"></i></button></a></td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  </div>
    <div class="form-field evenement">
      <div class="control">
        <input class="input" type="hidden" name="commentaireId" value={{commentaire.id}}>
        <input class="input" type="hidden" name="commentaireId" value={{commentaire.id}}>
      </div>
    </div>
</div>
  <div class="tab-pane fade" id="evenements" role="tabpanel" aria-labelledby="evenements-tab">
  <div class="container">
  <h1>Liste des événements</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="taille" style="width: 5rem;">N°</th>
          <th>Titre</th>
          <th>Contenue</th>
          <th style="width: 10rem;">Date de création</th>
          <th>Supprimer/Editer</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {{#each adArticle }}
        <tr>
          <td style="width: 5rem; font-size: 1.5rem;" name="arNumber">{{arNumber}}</td>
          <td name="title"><a href="/articles/{{_id}}" style="font-size: 1.2rem;">{{title}}</a></td>
          <td name="content">{{{content}}}</td>
          <td style="width: 10rem;" name="createDate">{{moment createDate format="DD-MM-YY HH:mm A"}}</td>
          <td name="delete-article"><a href="/article-delete/{{_id}}" onclick="return confirm('Voulez-vous vraiment supprimer cette article ?');" ><button type="button"
            class="btn"><i class="fas fa-trash-alt"></i></button></a>
                                    <a href="/article-edit/{{_id}}" ><button type="button"
            class="btn"><i class="fas fa-edit"></i></button></a></td>      
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
    <div class="form-field evenement">
      <div class="control">
        <input class="input" type="hidden" name="galerieId" value={{galerie.id}}>
        <input class="input" type="hidden" name="deleteGalerieId" value={{galerie.id}}>
      </div>
    </div>
</div>
</div>
</div>