{{>navbar}}
<section>
    <div class="container pageedit">
        <h2 class="title-add">{{article.title}}</h2>
        <p class="img"><img src="{{article.image}}" /></p>
        <div class="box">   
        <p>{{{article.content}}}</p>
        <div class="date">
          <p>Publié par {{auteur}}, le {{moment creatDate format="DD-MM-YY"}}</p>
        </div>  
        {{#if user}}
         
        </div>
         <div class="control"> 
            <a href="/article-edit/{{article._id}} {{image}}"><button type="button"
                    class="btn">Editer</button></a>
            <a href="/article-delete/{{article._id}}"><button type="button"
                    class="btn">supprimer</button></a>
                    <input class="btn" type=button onclick=window.location.href='http://localhost:3050/'; value=Annuler />
                    {{!-- <button class="button is-text">Annuler</button> --}}
        {{/if}}
                
         </div>
    </div>   
</section>
          

