
{{>navbar}}

<section class="section">
    <div class="container is-fullhd">
        <form class="form-field" action="/article/edit/{{article.id}}" method="POST" enctype="multipart/form-data">
            <div class="container add-article">
            <h2>Editer l'article</h2>
                <div class="form-field evenement">
                    <label class="label">Titre de l'évènement</label>              
                    <div class="control">
                        <input class="input" type="text" name="title" value="{{article.title}}">
                    </div>
                </div>

                <div class="form-field evenement">
                    <label class="label">Ajouter du contenu</label>
                    <div class="control">
                        <textarea class="textarea" name="content" >{{article.content}}</textarea>
                        <script>
                            CKEDITOR.replace('content');
                        </script>
                    </div>
                </div>
                <div class="form-field evenement">
                    <label class="label">Auteur</label>
                    <div class="control">
                        <input class="input" type="text" name="auteur" value={{article.auteur}}>
                        <input class="input" type="hidden" name="articleId" value={{article.id}}>
                        <input class="input" type="hidden" name="deleteArticleId" value={{article.id}}>
                        
                    </div>
                </div>
                <div class="file">
                    <label class="file-label">
                        <input class="file-input" type="file" name="image" value="{{image}}">
                        <span class="file-cta">
                            <span class="file-icon">
                            </span><br><br>
                            <span class="file-label">
                                Choisir son image <br>(*pohoto obligatoire)
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div><br>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Enregistrer</button>
                    </div>
                    <div class="control">
                        <input type=button onclick=window.location.href='http://localhost:3050'; value=Annuler />
                        {{!-- <button class="button is-text">Annuler</button> --}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>