<section class="section">
    <div class="container is-fullhd">
        <form class="form-field" action="/galerie-edit/{{image.name}}" method="POST" enctype="multipart/form-data">
            <div class="container add-article">
            <h2>Changement ou Suppression !</h2>
                <div class="form-field evenement">
                    <div class="control">
                        <input class="input" type="hidden" name="galerieId" value={{galerie.id}}>
                        <input class="input" type="hidden" name="deleteGalerieId" value={{galerie.id}}>
                        
                    </div>
                </div>
                <div class="file">
                    <label class="file-label">
                        <input class="file-input" type="file" name="image" value="{{image}}">
                        <span class="file-cta">
                            <span class="file-icon">
                            </span><br><br>
                            <span class="file-label">
                                Choisir son image
                                <i class="fas fa-upload"></i>
                            </span>
                        </span>
                    </label>
                </div><br>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Enregistrer</button>
                    </div>
                    {{#if user}}


                     <div class="control">
                        {{!-- <a href="/galerie-edit/{{galerie._id}} {{image}}"><button type="button"
                                class="btn">Editer</button></a> --}}
                        <a href="/galerie-delete/{{galerie._id}}"><button type="button"
                                class="btn">supprimer</button></a>
                        <input class="btn" type=button onclick=window.location.href='https://tatouage.herokuapp.com/' ;
                            value=Annuler />
                        {{!-- <button class="button is-text">Annuler</button> --}}
                        {{/if}}
                    {{!-- <div class="control">
                        <input type=button onclick=window.location.href='http://localhost:3050/'; value=Annuler />
                        <button class="button is-text">Annuler</button> 
                    </div> --}}
                </div>
            </div>
        </form>
    </div>
</section>