{{> navbar}}

<!-- ==============================================
                    Card EVENEMENT
================================================-->
<section>
  <div class="container-fluid">
    <div class="row">
      {{#each posts}}
      <div class="card">
        <img class="card-img-top" src="{{image}}" alt="Événement tatouage">
        <div class="card-body">
          <div class="content" id="dash">
            <a href="/articles/{{_id}}" rel="noopener">
              <h2 class="card-title">{{title}}</h2>
            </a>
            <div class="card-text">{{{content}}}</div>
            <div class="date">
              <p>Publié par {{auteur}}, le {{moment createDate format="DD-MM-YY"}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>


<!--========================================== 
                  GALERIE PHOTO
 ===========================================-->
<div class="flex-container">
  <h1 class="h1photos">Galerie Photo</h1>
  <div id="galerie">

    {{#each imgGal}}
    
    <img src="{{image}}" alt="Nolink" style="cursor:pointer;" {{#if ../admin}} onclick="javascript:window.location.replace('/galeries/{{_id}}')"{{/if}} />
      
    {{/each}}

    {{#if admin}}
    <div class="container photo-add">
      <form class="form-field add-photo" action="/galeries/post {{galerie.id}}" method="POST"
        enctype="multipart/form-data">
        <div class="file">
          <label class="btn-link">
            <i class="fas fa-cloud-upload-alt"></i><input type="file" style="display: none" name="image" required>
          </label>
          
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button btn btn-dark">Envoyer</button>
            </div>
          </div>
        </div>
    </form>
    </div>
    {{/if}}
  </div>
</div>

<!-- ==============================================
                    COMMENTAIRE
================================================-->

{{#if user}}
<section id="commentaire">
  <form class="form-field" action="/commentaires/post/{{commentaire.id}}" method="POST" enctype="multipart/form-data" style="margin: 0 auto;">
    <div class="form-field evenement">
      <p class="lead font-weight-bold" style="text-align: center; padding-top: 1rem; color: white;" name="title">Si vous voulez me laisser un message</p>
      <div class="form-group" style="padding-top: 10px">
        <label for="textarea"></label>
        <textarea class="form-control" name="content"></textarea>
        <script>
          CKEDITOR.replace('content');
        </script>
      </div>
      <button class="btn" type="submit">Envoyer</button>
    </div>
  </form>
  <br>
</section>

{{/if}}
<section class="commentaire" id="liste">
  <h1 class="h1-commentaire">Liste des commentaires</h1>
  {{#each commentaire}}
  <div class="container-fluid">
    <div class="form" style="justify-content: center;">
      <hr>
        <strong class="text-light bg-dark" style="display: flex; width: 12rem;">@{{auteur}}, le
          {{moment createDate format="DD-MM-YY HH:mm A"}}</strong>
        {{{content}}}
    </div>
  </div>
  


  {{#if ../admin}}
  <div class="control">
    <a href="/commentaire-delete/{{_id}}" rel="noopener"><button type="button" class="btn btn-dark"><i
          class="fas fa-trash-alt"></i></button></a>&emsp;
    <a href="/commentaire-edit/{{_id}}" rel="noopener"><button type="button" class="btn btn-dark"><i
          class="fas fa-edit"></i></button></a>
  </div>
  {{/if}}
  {{/each}}
  <div>
  <a href="#top" rel="noopener"><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title=""
      data-original-title="Tooltip on top">Top</button></a>
  </div>
</section>

{{>footer}}