{{> navbar}}

<section>
  
<div class="container">
  {{#each posts}}
  <div class="card">
    <img class="card-img-top" src="{{image}}" alt="Image">
    <div class="card-body">
      <div class="content" id="dash" {{!--contenteditable="true"--}}>
        <a href="/articles/{{_id}}">
          <h2 class="card-title">{{title}}</h2>
        </a>
        <p class="card-text">{{{content}}}</p>
        <div class="date">
          <p>Publié par {{auteur}}, le {{moment creatDate format="DD-MM-YY"}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

</div>
</div>
</div>
</section>


<!--========================================== 
                  GALERIE PHOTO
 ===========================================-->
<div class="flex-container">
  <h1 class="h1photos">Galerie Photo</h1>
  {{!-- <div class="machin">
<a href="/galerie/edit"><button class="btn-galerie">Modifier</button></a>
</div> --}}
</div>
{{!-- <label class="file-label photo"><input class="file-input" type="file" name="image"><span class="file-cta"><span class="file-icon"><i class="fas fa-upload"></i></span><span class="file-label">Choisir son image</span></span></label> --}}

<div id="galerie">
  {{#each imgGal}}
  <img src="{{image}}" alt="ton image" style="cursor:pointer;"
    onclick="javascript:window.location.replace('/galerie-edit/{{_id}}')" />
  {{/each}}
</div>
</div>


{{>footer}}
